.btn {
    &--tax {
        padding: 0.6rem 1.5rem;
        margin-top: 10px;
        background-color: $color-violet;
        margin-left: 10px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        color: $color-primary-dark;
        border-radius: 2rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
        }
    }
    &--create {
        padding: 0.6rem 1.5rem;
        width: 11rem;
        background-color: $color-skyblue;
        color: $color-primary-dark;
        border: none;
        border-radius: 2rem;
        font-weight: 600;
    }
    &__btn-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        margin-right: 2rem;

        &--block,
        &--unblock,
        &--delete,
        &--edit {
            border: none;
            padding: 0.6rem 1.5rem;
            border-radius: 2rem;
            font-size: 14px;
            font-weight: 600;
            color: $color-primary-dark;
        }
        &--block {
            background-color: $color-yellow;
            &--active {
            }
        }
        &--unblock {
            background-color: $color-yellow;
            &--active {
                background-color: yellow;
            }
        }
        &--delete {
            background-color: $color-skyblue;
        }
        &--edit {
            background-color: $color-skyblue;
        }
    }
    &--filter,
    &--sort {
        margin-right: 1rem;
        margin-bottom: 1rem;
        border: none;
        padding: 0.6rem 1.5rem;
        border-radius: 2rem;
        font-size: 14px;
        font-weight: 600;
        color: $color-primary-dark;
        background-color: $color-yellow;
    }
    &--filter {
        background-color: $color-violet;
    }
    &--sort {
        background-color: $color-skyblue;
    }
}
