.btn {
    &--tax {
        margin-top: 10px;
        background-color: rgb(204, 72, 169);
        padding: 5px 10px;
        margin-left: 10px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        color: black;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: rgb(172, 179, 167);
            color: black;
        }
    }
    &--create {
        width: 11rem;
        padding: 0.6rem 0;
    }
    &--list {
    }
    &--block {
    }
    &--delete {
    }
    &--edit {
    }
    &--filter {
    }
}
