.list {
    background-color: bisque;
    @include center-layout;
    .title {
    }
    .clients {
        .client {
            display: flex;
            .client-box {
                border-radius: 50%;
                width: 12rem;
                height: 12rem;
                margin: 3rem;
                .client-image {
                    border-radius: 50%;
                    width: 100%;
                    height: 12rem;
                    object-fit: cover;
                }
            }
            .client-data {
                .label-text {
                }
                .input-text {
                }
            }
        }
    }
}
