.totals {
    grid-column: col-start 6 / center-end;
    color: $color-skyblue;
    font-size: 1.8rem;
    padding: 6rem 0;
    @include respond(desktop) {
        grid-column: col-start 5 / center-end;
    }
    @include respond(tablet) {
        grid-column: center-start / center-end;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        @include respond(phone) {
            padding-top: 2rem;
        }
    }
}
